<div class="navbar">
</div>

<div id='loginBox'>
  <%= form_for(:session, url:sessions_path) do |form| %>
    <%= form.label "Email" %><br/>
    <%= form.text_field :username %><br/>

    <%= form.label :password %><br/>
    <%= form.password_field :password %><br/>

    <%= form.submit("Sign In") %>
  <% end %>
  <%= button_to "New User?", "/users/new", method: "get" %>

  <%= button_to "Play As a Guest!", root_path, id: 'btnGuest', method: "get" %>
</div>
